body {
  text-align: center;
  background: linear-gradient(to bottom, #a2d5f2, #07689f);
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
}

h1 {
  margin-top: 20px;
}

canvas {
  border: 3px solid #fff;
  background: #04395e;
  display: block;
  margin: 20px auto;
}

#scoreBoard {
  font-size: 20px;
  margin: 10px;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  color: #ffdd57;
}
